@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Young+Serif&display=swap');
.providing-section-main{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1.5rem 0;
}
.providing-section-main p{
    font-family: 'Young Serif', serif;
}
.providing-section-left{
    width:48vw;
}
.providing-section-left p{
    float:right;
    padding:.5rem;
    font-size:2rem;
}
.providing-section-left img{
    width:100%;
    height:100%;
}
.providing-section-right{
    width:48vw;
}
.providing-section-right img{
    width:80%;
}
.providing-section-right p{
    float:left;
    padding:.5rem;
    display:block;
}
.providing-section-right h2{
    float:left;
    padding:.5rem;
    display:block;
}
.providing-section-right img{
    width:100%
}