.contact-section-main{
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.contact-section-div a{
  text-decoration:none;
  color:white;
}
.contact-section-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:18vh;
    width:60vw;
    color:white;
    background-color: orange;
    margin-left: 18vw;
    transform: translateY(-1rem);
}
.contact-section-div hr{
    height: 100%;
}
.contact-first-p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem;
}
.contact-section-div span{
    font-weight: 700;
}
.contact-second-p{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    padding:1rem;
    border-radius: 8px;
  background-color:black;
}
.contact-second-p:hover{
    background-color: white;
    color:orange;
}
@media screen and (max-width:1100px){
  .contact-section-div{
    height:18vh;
  }
}
@media screen and (max-width:900px){
  .contact-second-p{
      font-size: 1rem;
      padding:.5rem;
      border-radius: 8px;
    margin:auto;
  }
  .contact-first-p{
    font-size:.8rem;
  }
}
@media screen and (max-width:800px){
  .contact-second-p{
      font-size: .7rem;
      padding:.5rem;
      border-radius: 8px;
    margin:auto;
  }
}
@media screen and (max-width:650px){
  .contact-section-div{
    display:grid;
    margin:0 auto;
    height:auto;
    text-align:center;
  }
  .contact-section-div p{
    display:grid;
    height:auto;
  }
  .contact-section-div hr{
    display:none;
  }
  .contact-first-p{
    padding:0.5rem ;
  }
  .contact-second-p{
      font-size: .7rem;
      padding:.5rem;
      border-radius: 8px;
    margin:.5rem;
    width:70%;
    display:inline-block;
    align-self:center;
    justify-self:center;
  }
}